<h3>Edit Gist</h3>
<%= bootstrap_form_for(@gist, url: gist_path(@gist.id), method: :patch, layout: :horizontal) do |f| %>
  <%= f.text_field :description %>
  <%= f.text_field :filename %>
  <%= f.text_area :content %>
  <%= f.submit "Update Gist", class: 'btn btn-primary' %><%= link_to 'Back', gists_path, class: 'btn btn-primary' %>
<% end %>